<div id="overlay" *ngIf="isShown" (click)="isShown = !isShown"></div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <h1>{{post?.title}}</h1>
            <h5><span *ngIf="post?.author">By </span><span class="author">{{post?.author}}</span> Published on {{post?.publishedAt | date}}</h5>
        </div>
        <hr />
        <div class="row contentDiv">
            <div class="col-lg-2 socialMedia">
                <div class="totalShare">
                    <p class="count">23</p>
                    <p>shares</p>
                </div>
                <div class="socialMediaIcons">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span class="text">Email</span>
                </div>
                <div class="socialMediaIcons">
                    <i class="fa fa-facebook-f"></i>
                    <span class="text">Facebook</span>
                </div>
                <div class="socialMediaIcons">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <span class="text">Twitter</span>
                </div>
                <div class="socialMediaIcons">
                    <i class="fa fa-share"></i>
                    <span class="text">More</span>
                </div>
            </div>
            <div class="col-lg-10 detailsDiv">
                <div class="imageTop">
                    <img [src]="post?.urlToImage">
                </div>
                <div class="content">
                   <p *ngIf="post?.content !== null">{{post?.content}}</p>
                   <p *ngIf="post?.content === null">No Content</p>
                </div>
                <div class="buttons">
                    <button class="likeButton">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        i found this helpful
                    </button>
                    <button class="disLikeButton">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        i did not find this helpful
                    </button>
                </div>
                <div class="comments" >

                    <p class="head" *ngIf="post?.comments?.length > 0">Comments</p>
                    <p class="head" *ngIf="post?.comments?.length == 0">No comments yet!</p>
                    <div *ngIf="post?.comments?.length > 0" >
                    <div class="section" *ngFor="let comment of post?.comments">

                        <div class="socialMediaComment">
                            <img src="../../../assets/images/avatar.jpg">
                        </div>
                        <div class="commentDetails">
                            <p class="textCom">{{comment?.name}}<span class="spanComment"> {{comment?.createdAt | date}} </span> <span class="spanComment">
                                    Reply </span></p>
                            <p>{{comment?.message}}</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                </div>
                <div class="join">
                    <p class="head">Join The Conversion</p>
                    <form [formGroup]="submitForm" *ngIf="submitForm">
                        <div class="form-group nameFeild">
                            <input type="text" formControlName="name" name="name" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group emailFeild">
                            <input type="email" formControlName="email" name="email"  class="form-control" placeholder="Email">
                            <div class="emailDisapled">
                                <p>Will not be published</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="form-group textareaFeild">

                            <textarea class="form-control" formControlName="message" name="message" placeholder="Message" rows="8"></textarea>
                        </div>
                        <button [disabled]="!submitForm.valid" type="submit" class="btn" (click)="submitComment()">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div (click)="isShown = !isShown" id="btnShare" >
    <i class="fa fa-share" ></i>
    <p>23 <span>shares</span></p>
</div>
<div id="shares" *ngIf="isShown" >
    <div>
        <div>
            <i class="fa fa-envelope icons" aria-hidden="true"></i>
        </div>
        <div>
            <i class="fa fa-facebook-f icons" ></i>
        </div>
        <div>
            <i class="fa fa-twitter icons"aria-hidden="true"></i>
        </div>
        <div>
            <i class="fa fa-share icons"></i>
        </div>
        <div class="clear"></div>
    </div>
</div>